<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
		<th>Item</th>
		<th>Action</th>
	</tr>
	
	<% if (data) { %>
	<% data.forEach(function(data){ %>
		<tr>
			<td><%= data.item %></td>
			<td>
				<div style="float:left">
					<a href='/todo/edit/<%= data.id %>'>Edit</a> &nbsp;							
					<form method="post" action="/todo/delete/<%= data.id %>" style="float:right">
						<input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
						<input type="hidden" name="_method" value="DELETE" />
					</form>
				</div>
			</td>
		</tr>
	<% }) %>
	<% } %>

</table>

<%- include ../layouts/footer.ejs %>